.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/
.mypy_cache/
.pytest_cache/
.idea/
.vscode/
*.log
node_modules/
data/
dev.db
.DS_Store
*.swp
*.swo
docker-compose*.yml
